
@{
    ViewData["Title"] = "Fetch";
}

<h1>Fetch</h1>

@*<img id="img1" />*@
<div>
    <select id="selectCity"></select>
    <select id="selectDistrict"></select>
    <select id="selectRoad"></select>
</div>


@section Scripts{
    <script>
   @*// console.log(fetch('@Url.Content("~/api/index")'));  //回傳的是Promise物件
        fetch('@Url.Content("~/api/index")')
        // console.log(fetch('@Url.Content("~/api/index")'));  //回傳的是Promise物件
        fetch('@Url.Content("~/api/index1")')
            .then(response => {
                //console.log(response);
                console.log(response);
                //console.log(response.ok);  //true
                //console.log(response.status);
                //console.log(response.headers.get('date'));
                //console.log(response.headers.get('content-type'));
                //console.log(response.body);
                //console.log(response.text()); //得到又是另外一個promise物件
                return response.text();  //純文字  response.json();
                //return response.text();  //純文字  response.json();
                if (!response.ok) throw new Error(response.status);
            })
            .then(data => {
                console.log(data)
            })*@

            //.catch(err => {
            //    console.log(err)
            //})

        @*fetch('@Url.Content("~/api/GetImageBytes/5")')
            .then(response => response.blob() )
            .then(datas => {
                const myImg = document.querySelector("#img1");
                /*console.log(datas);*/
                myImg.src = URL.createObjectURL(datas)*@

        @*fetch('@Url.Content("~/api/members")')
            .then(response => response.json())
            .then(datas => console.log(datas));*@

        
        @*async function LoadMembers() {
            const response = await fetch('@Url.Content("~/api/members")');
            const datas = await response.json();
            datas.forEach(member => {
                console.log(member.name)
            });
        }
        LoadMembers();*@

        //================Homework縣市地區================

        const selCity = document.querySelector("#selectCity");
        const selDistrict = document.querySelector("#selectDistrict");
        const selRoad = document.querySelector("#selectRoad");
        var city = null;
        var district = null;
        var road = null;
        //==============載入縣市================
        LoadCity();
        async function LoadCity() {
            const response = await fetch("@Url.Content("~/api/city")");
            const datas = await response.json();

            datas.forEach(city => {
                const optCity = new Option(city, city)
                selCity.options.add(optCity)
            })
            LoadDistrict();
            
            
            
        }
        selCity.addEventListener("change", LoadDistrict)
        selDistrict.addEventListener("change", LoadRoad)
        selRoad.addEventListener("change", () => {
            road = selRoad.options[selRoad.selectedIndex].value;
            
        })
        //const selectedCity = selCity.options[selCity.selectedIndex].value;
        //console.log(selectedCity);
        //==============載入地區================
        async function LoadDistrict() {
            selDistrict.options.length = 0;
            city = selCity.options[selCity.selectedIndex].value;
            console.log(city);
            const response = await fetch("@Url.Content("~/api/Districts")"+`?city=${city}`)
            const datas = await response.json();
            datas.forEach(district => {
                const optDistrict = new Option(district, district);
                selDistrict.options.add(optDistrict);
            })
            LoadRoad();
            
        }

        async function LoadRoad() {
            selRoad.options.length = 0;
            district = selDistrict.options[selDistrict.selectedIndex].value;
            console.log(district);
            const reponse = await fetch("@Url.Content("~/api/Roads")" + `?district=${district}`)
            const datas = await reponse.json();
            datas.forEach(road => {
                const optRoad = new Option(road, road);
                selRoad.options.add(optRoad);
            })

        }

    </script>
} 